# Data Understanding

## Summary

This notebook performs initial data exploration and understanding of the Global Forest Watch raw dataset. The primary objectives are to:

- **Load and inspect** the raw Excel file structure and available sheets
- **Examine data quality** including missing values, data types, and inconsistencies
- **Understand relationships** between different country-level datasets
- **Identify patterns** that will inform the data preparation phase
- **Document findings** about data structure, column meanings, and potential issues

## Key Activities

1. **Data Loading**: Loads the Excel workbook and identifies all available sheets
2. **Sheet Exploration**: Examines each country-level sheet (Tree Cover Loss, Primary Loss, Drivers, Carbon Data)
3. **Data Quality Assessment**: Checks for missing values, duplicates, and data type issues
4. **Structure Analysis**: Understands column formats, value ranges, and data distributions
5. **Relationship Mapping**: Identifies common keys and relationships between datasets

## Output

This notebook produces insights and documentation that guide the data preparation process in Notebook 2. No processed data files are created at this stage.

---

## Part 1: Data Exploration - Raw Data Sheets

### Goal: Understand the raw data structure, quality, and characteristics from each Excel sheet

We will explore each country-level sheet separately to understand:
- Data structure and format
- Column names and types
- Data quality issues
- Relationships between sheets
- Patterns that will inform data preparation

## Step 1: Loading the dataset

In [3]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

RAW_PATH = "../data/raw/global_forest_watch_raw_data.xlsx"

print("="*80)
print("LOADING RAW DATA FROM EXCEL FILE")
print("="*80)

excel_file = pd.ExcelFile(RAW_PATH)
print(f"Excel file loaded: {RAW_PATH}")
print(f"\nAvailable sheets: {len(excel_file.sheet_names)}")
print("\nSheet names:")
for i, sheet in enumerate(excel_file.sheet_names, 1):
    print(f"  {i}. {sheet}")

country_sheets = [s for s in excel_file.sheet_names if s.startswith('Country')]
print(f"\nCountry-level sheets to explore: {len(country_sheets)}")
for sheet in country_sheets:
    print(f"  - {sheet}")

================================================================================
LOADING RAW DATA FROM EXCEL FILE
================================================================================
Excel file loaded: ../data/raw/global_forest_watch_raw_data.xlsx

Available sheets: 9

Sheet names:
  1. Read_Me
  2. Country tree cover loss
  3. Country primary loss
  4. Country drivers
  5. Country carbon data
  6. Subnational 1 tree cover loss
  7. Subnational 1 primary loss
  8. Subnational 1 drivers
  9. Subnational 1 carbon data

Country-level sheets to explore: 4
  - Country tree cover loss
  - Country primary loss
  - Country drivers
  - Country carbon data

## Step 2: Exploring Country Tree Cover Loss Data

In [4]:
df_tree_cover_loss = excel_file.parse("Country tree cover loss")

print("="*80)
print("COUNTRY TREE COVER LOSS - RAW DATA")
print("="*80)
print(f"Shape: {df_tree_cover_loss.shape[0]:,} rows × {df_tree_cover_loss.shape[1]} columns")
print(f"\nColumn names ({len(df_tree_cover_loss.columns)}):")
for i, col in enumerate(df_tree_cover_loss.columns, 1):
    print(f"  {i:2d}. {col}")

print("\n" + "="*80)
print("First 5 rows:")
print("="*80)
display(df_tree_cover_loss.head())

print("\n" + "="*80)
print("Data Types:")
print("="*80)
print(df_tree_cover_loss.dtypes)

print("\n" + "="*80)
print("Basic Statistics:")
print("="*80)
display(df_tree_cover_loss.describe())

================================================================================
COUNTRY TREE COVER LOSS - RAW DATA
================================================================================
Shape: 1,328 rows × 30 columns

Column names (30):
   1. country
   2. threshold
   3. area_ha
   4. extent_2000_ha
   5. extent_2010_ha
   6. gain_2000-2012_ha
   7. tc_loss_ha_2001
   8. tc_loss_ha_2002
   9. tc_loss_ha_2003
  10. tc_loss_ha_2004
  11. tc_loss_ha_2005
  12. tc_loss_ha_2006
  13. tc_loss_ha_2007
  14. tc_loss_ha_2008
  15. tc_loss_ha_2009
  16. tc_loss_ha_2010
  17. tc_loss_ha_2011
  18. tc_loss_ha_2012
  19. tc_loss_ha_2013
  20. tc_loss_ha_2014
  21. tc_loss_ha_2015
  22. tc_loss_ha_2016
  23. tc_loss_ha_2017
  24. tc_loss_ha_2018
  25. tc_loss_ha_2019
  26. tc_loss_ha_2020
  27. tc_loss_ha_2021
  28. tc_loss_ha_2022
  29. tc_loss_ha_2023
  30. tc_loss_ha_2024

================================================================================
First 5 rows:
================================================================================

,country,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2012_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,...,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023,tc_loss_ha_2024
0,Afghanistan,0,64383655,64383655,64383655,10738,103,214,267,226,...,0,0,0,31,25,46,47,16,133,223
1,Afghanistan,10,64383655,432070,126231,10738,92,190,254,207,...,0,0,0,28,19,40,37,9,32,32
2,Afghanistan,15,64383655,302629,106852,10738,91,186,248,205,...,0,0,0,28,19,39,32,7,23,17
3,Afghanistan,20,64383655,284330,105718,10738,89,181,245,203,...,0,0,0,28,18,39,32,7,22,16
4,Afghanistan,25,64383655,254843,72384,10738,89,180,244,202,...,0,0,0,27,18,38,27,6,21,14

================================================================================
Data Types:
================================================================================
country              object
threshold             int64
area_ha               int64
extent_2000_ha        int64
extent_2010_ha        int64
gain_2000-2012_ha     int64
tc_loss_ha_2001       int64
tc_loss_ha_2002       int64
tc_loss_ha_2003       int64
tc_loss_ha_2004       int64
tc_loss_ha_2005       int64
tc_loss_ha_2006       int64
tc_loss_ha_2007       int64
tc_loss_ha_2008       int64
tc_loss_ha_2009       int64
tc_loss_ha_2010       int64
tc_loss_ha_2011       int64
tc_loss_ha_2012       int64
tc_loss_ha_2013       int64
tc_loss_ha_2014       int64
tc_loss_ha_2015       int64
tc_loss_ha_2016       int64
tc_loss_ha_2017       int64
tc_loss_ha_2018       int64
tc_loss_ha_2019       int64
tc_loss_ha_2020       int64
tc_loss_ha_2021       int64
tc_loss_ha_2022       int64
tc_loss_ha_2023       int64
tc_loss_ha_2024       int64
dtype: object

================================================================================
Basic Statistics:
================================================================================

,threshold,area_ha,extent_2000_ha,extent_2010_ha,gain_2000-2012_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,tc_loss_ha_2005,...,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023,tc_loss_ha_2024
count,1328.000000,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,...,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03,1.328000e+03
mean,28.125000,7.814805e+07,3.038020e+07,2.994347e+07,7.867308e+05,7.906576e+04,9.644243e+04,8.478851e+04,1.162822e+05,1.068036e+05,...,1.153580e+05,1.756815e+05,1.745346e+05,1.469773e+05,1.438572e+05,1.553305e+05,1.498121e+05,1.356731e+05,1.686809e+05,1.776107e+05
std,22.499791,2.015752e+08,1.056704e+08,1.047382e+08,3.417373e+06,3.124548e+05,4.116669e+05,3.768918e+05,4.947177e+05,4.231545e+05,...,3.906740e+05,6.453353e+05,6.079198e+05,5.459009e+05,4.588106e+05,5.799769e+05,6.139020e+05,4.909377e+05,7.502341e+05,6.924869e+05
min,0.000000,2.094000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,13.750000,5.117777e+06,5.480255e+05,5.412700e+05,1.383200e+04,5.145000e+02,3.932500e+02,3.120000e+02,5.327500e+02,5.482500e+02,...,3.230000e+02,6.187500e+02,7.272500e+02,5.825000e+02,5.377500e+02,6.575000e+02,5.275000e+02,3.860000e+02,8.287500e+02,6.737500e+02
50%,22.500000,2.022587e+07,3.622986e+06,3.499126e+06,9.435900e+04,6.940500e+03,5.172000e+03,3.940500e+03,6.147500e+03,7.207500e+03,...,7.497500e+03,1.421250e+04,1.631400e+04,1.156500e+04,1.108200e+04,1.195450e+04,9.935000e+03,9.190500e+03,1.396300e+04,1.095100e+04
75%,35.000000,6.201997e+07,1.831977e+07,1.819886e+07,3.882400e+05,3.154525e+04,3.242225e+04,2.848925e+04,3.860275e+04,4.036250e+04,...,5.140025e+04,1.063302e+05,9.793725e+04,7.669250e+04,7.689425e+04,8.074400e+04,7.072375e+04,6.527200e+04,7.677800e+04,8.178400e+04
max,75.000000,1.689455e+09,1.689455e+09,1.689455e+09,3.722054e+07,2.933201e+06,3.715945e+06,3.489258e+06,4.133606e+06,3.675951e+06,...,2.925679e+06,6.407238e+06,6.143920e+06,6.621833e+06,4.847068e+06,8.217252e+06,8.559449e+06,5.126743e+06,1.017602e+07,7.421840e+06

## Step 3: Checking the quality of country loss data

In [5]:
print("="*80)
print("MISSING VALUES ANALYSIS:")
print("="*80)
missing = df_tree_cover_loss.isnull().sum()
missing_pct = (missing / len(df_tree_cover_loss)) * 100
missing_df = pd.DataFrame({
    'Column': missing.index,
    'Missing Count': missing.values,
    'Missing Percentage': missing_pct.values
}).sort_values('Missing Count', ascending=False)

missing_df = missing_df[missing_df['Missing Count'] > 0]
if len(missing_df) > 0:
    display(missing_df)
else:
    print("No missing values found!")

print("\n" + "="*80)
print("UNIQUE VALUES:")
print("="*80)
if 'country' in df_tree_cover_loss.columns:
    print(f"Number of countries: {df_tree_cover_loss['country'].nunique()}")
    print(f"Countries: {sorted(df_tree_cover_loss['country'].unique())}")

if 'threshold' in df_tree_cover_loss.columns:
    print(f"\nThreshold values: {sorted(df_tree_cover_loss['threshold'].unique())}")

year_cols = [col for col in df_tree_cover_loss.columns if '200' in col or '201' in col or '202' in col]
print(f"\nYear columns found: {len(year_cols)}")
if year_cols:
    print(f"Year range: {year_cols[0]} to {year_cols[-1]}")

================================================================================
MISSING VALUES ANALYSIS:
================================================================================
No missing values found!

================================================================================
UNIQUE VALUES:
================================================================================
Number of countries: 166
Countries: ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Czechia', "Côte d'Ivoire", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Micronesia', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'México', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Réunion', 'Saint-Barthélemy', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'São Tomé and Príncipe', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Virgin Islands, U.S.', 'Yemen', 'Zambia', 'Zimbabwe', 'Åland']

Threshold values: [np.int64(0), np.int64(10), np.int64(15), np.int64(20), np.int64(25), np.int64(30), np.int64(50), np.int64(75)]

Year columns found: 27
Year range: extent_2000_ha to tc_loss_ha_2024

## Step 4: Exploring Country Primary Loss Data and checking quality

In [6]:
df_primary_loss = excel_file.parse("Country primary loss")

print("="*80)
print("COUNTRY PRIMARY LOSS - RAW DATA")
print("="*80)
print(f"Shape: {df_primary_loss.shape[0]:,} rows × {df_primary_loss.shape[1]} columns")
print(f"\nColumn names ({len(df_primary_loss.columns)}):")
for i, col in enumerate(df_primary_loss.columns, 1):
    print(f"  {i:2d}. {col}")

print("\n" + "="*80)
print("First 5 rows:")
print("="*80)
display(df_primary_loss.head())

print("\n" + "="*80)
print("Data Types:")
print("="*80)
print(df_primary_loss.dtypes)

print("\n" + "="*80)
print("Basic Statistics:")
print("="*80)
display(df_primary_loss.describe())

print("\n" + "="*80)
print("MISSING VALUES ANALYSIS:")
print("="*80)
missing = df_primary_loss.isnull().sum()
missing_pct = (missing / len(df_primary_loss)) * 100
missing_df = pd.DataFrame({
    'Column': missing.index,
    'Missing Count': missing.values,
    'Missing Percentage': missing_pct.values
}).sort_values('Missing Count', ascending=False)

missing_df = missing_df[missing_df['Missing Count'] > 0]
if len(missing_df) > 0:
    display(missing_df)
else:
    print("No missing values found!")

print("\n" + "="*80)
print("UNIQUE VALUES:")
print("="*80)
if 'country' in df_primary_loss.columns:
    print(f"Number of countries: {df_primary_loss['country'].nunique()}")
    print(f"Countries: {sorted(df_primary_loss['country'].unique())}")

if 'threshold' in df_primary_loss.columns:
    print(f"\nThreshold values: {sorted(df_primary_loss['threshold'].unique())}")

year_cols = [col for col in df_primary_loss.columns if '200' in col or '201' in col or '202' in col]
print(f"\nYear columns found: {len(year_cols)}")
if year_cols:
    print(f"Year range: {year_cols[0]} to {year_cols[-1]}")

================================================================================
COUNTRY PRIMARY LOSS - RAW DATA
================================================================================
Shape: 76 rows × 26 columns

Column names (26):
   1. country
   2. threshold
   3. area__ha
   4. tc_loss_ha_2002
   5. tc_loss_ha_2003
   6. tc_loss_ha_2004
   7. tc_loss_ha_2005
   8. tc_loss_ha_2006
   9. tc_loss_ha_2007
  10. tc_loss_ha_2008
  11. tc_loss_ha_2009
  12. tc_loss_ha_2010
  13. tc_loss_ha_2011
  14. tc_loss_ha_2012
  15. tc_loss_ha_2013
  16. tc_loss_ha_2014
  17. tc_loss_ha_2015
  18. tc_loss_ha_2016
  19. tc_loss_ha_2017
  20. tc_loss_ha_2018
  21. tc_loss_ha_2019
  22. tc_loss_ha_2020
  23. tc_loss_ha_2021
  24. tc_loss_ha_2022
  25. tc_loss_ha_2023
  26. tc_loss_ha_2024

================================================================================
First 5 rows:
================================================================================

,country,threshold,area__ha,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,tc_loss_ha_2005,tc_loss_ha_2006,tc_loss_ha_2007,tc_loss_ha_2008,...,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023,tc_loss_ha_2024
0,Angola,30,2458061,3499,2963,2354,3110,1400,8060,2699,...,8998,12040,11166,13507,9995,8895,24326,15576,17627,13660
1,Argentina,30,4418724,9318,14459,28090,31429,24095,18687,47067,...,10547,15247,17202,9496,8983,20847,11921,21388,11473,12103
2,Australia,30,13977,0,0,0,0,25,0,0,...,5,0,0,0,5,0,0,0,0,0
3,Bangladesh,30,101114,619,266,347,306,677,369,240,...,205,345,414,358,387,459,308,307,743,467
4,Belize,30,1165487,5570,2993,2108,3206,1899,4140,3632,...,6606,11511,6616,4781,8772,16087,4560,4033,11667,21137

================================================================================
Data Types:
================================================================================
country            object
threshold           int64
area__ha            int64
tc_loss_ha_2002     int64
tc_loss_ha_2003     int64
tc_loss_ha_2004     int64
tc_loss_ha_2005     int64
tc_loss_ha_2006     int64
tc_loss_ha_2007     int64
tc_loss_ha_2008     int64
tc_loss_ha_2009     int64
tc_loss_ha_2010     int64
tc_loss_ha_2011     int64
tc_loss_ha_2012     int64
tc_loss_ha_2013     int64
tc_loss_ha_2014     int64
tc_loss_ha_2015     int64
tc_loss_ha_2016     int64
tc_loss_ha_2017     int64
tc_loss_ha_2018     int64
tc_loss_ha_2019     int64
tc_loss_ha_2020     int64
tc_loss_ha_2021     int64
tc_loss_ha_2022     int64
tc_loss_ha_2023     int64
tc_loss_ha_2024     int64
dtype: object

================================================================================
Basic Statistics:
================================================================================

,threshold,area__ha,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,tc_loss_ha_2005,tc_loss_ha_2006,tc_loss_ha_2007,tc_loss_ha_2008,tc_loss_ha_2009,...,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023,tc_loss_ha_2024
count,76.0,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,76.000000,...,76.000000,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01,7.600000e+01
mean,30.0,1.349796e+07,3.500986e+04,3.268253e+04,4.462941e+04,4.370550e+04,3.695367e+04,3.814787e+04,3.563292e+04,36765.184211,...,38528.013158,8.050946e+04,6.532487e+04,4.792633e+04,4.931018e+04,5.531720e+04,4.926511e+04,5.407901e+04,4.911196e+04,8.849616e+04
std,0.0,4.300172e+07,1.883565e+05,1.816783e+05,2.367232e+05,2.157229e+05,1.706006e+05,1.452392e+05,1.354756e+05,116080.074035,...,126231.483498,3.430140e+05,2.536957e+05,1.680912e+05,1.702689e+05,2.058852e+05,1.885591e+05,2.149624e+05,1.549588e+05,3.671704e+05
min,30.0,1.653000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,30.0,2.271512e+05,1.325000e+02,1.225000e+02,2.035000e+02,2.170000e+02,2.455000e+02,1.845000e+02,2.227500e+02,445.250000,...,253.750000,5.015000e+02,5.145000e+02,3.417500e+02,3.247500e+02,3.065000e+02,3.012500e+02,2.927500e+02,2.740000e+02,3.660000e+02
50%,30.0,1.833100e+06,2.029500e+03,1.582500e+03,2.277000e+03,2.320000e+03,2.528500e+03,3.063500e+03,3.677500e+03,3729.500000,...,3392.500000,4.904000e+03,7.123000e+03,4.061500e+03,5.047500e+03,4.094000e+03,4.050000e+03,3.952000e+03,4.538500e+03,4.598000e+03
75%,30.0,7.487047e+06,1.013250e+04,1.014375e+04,1.197275e+04,1.202100e+04,1.418450e+04,1.843200e+04,1.528925e+04,19996.250000,...,16938.250000,4.590225e+04,3.110525e+04,2.709850e+04,3.070975e+04,3.433400e+04,2.444950e+04,2.350000e+04,2.459825e+04,4.037175e+04
max,30.0,3.432610e+08,1.621738e+06,1.570540e+06,2.016350e+06,1.824217e+06,1.415536e+06,1.149515e+06,1.075087e+06,700115.000000,...,828839.000000,2.830943e+06,2.134474e+06,1.347176e+06,1.361053e+06,1.703491e+06,1.546964e+06,1.772214e+06,1.136250e+06,2.823646e+06

================================================================================
MISSING VALUES ANALYSIS:
================================================================================
No missing values found!

================================================================================
UNIQUE VALUES:
================================================================================
Number of countries: 76
Countries: ['Angola', 'Argentina', 'Australia', 'Bangladesh', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Brazil', 'Brunei', 'Burundi', 'Cambodia', 'Cameroon', 'Central African Republic', 'China', 'Colombia', 'Costa Rica', 'Cuba', "Côte d'Ivoire", 'Democratic Republic of the Congo', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Equatorial Guinea', 'Ethiopia', 'Fiji', 'French Guiana', 'Gabon', 'Ghana', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Kenya', 'Laos', 'Liberia', 'Madagascar', 'Malawi', 'Malaysia', 'Martinique', 'Mozambique', 'Myanmar', 'México', 'Nepal', 'Nicaragua', 'Nigeria', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Republic of the Congo', 'Rwanda', 'Senegal', 'Sierra Leone', 'Solomon Islands', 'South Africa', 'South Sudan', 'Sri Lanka', 'Suriname', 'Tanzania', 'Thailand', 'Togo', 'Uganda', 'United States', 'Vanuatu', 'Venezuela', 'Vietnam', 'Virgin Islands, U.S.', 'Zambia', 'Zimbabwe']

Threshold values: [np.int64(30)]

Year columns found: 23
Year range: tc_loss_ha_2002 to tc_loss_ha_2024

## Step 5: Exploring Country Drivers Data and Checking Data Quality

In [7]:
df_drivers = excel_file.parse("Country drivers")

print("="*80)
print("COUNTRY DRIVERS - RAW DATA")
print("="*80)
print(f"Shape: {df_drivers.shape[0]:,} rows × {df_drivers.shape[1]} columns")
print(f"\nColumn names ({len(df_drivers.columns)}):")
for i, col in enumerate(df_drivers.columns, 1):
    print(f"  {i:2d}. {col}")

print("\n" + "="*80)
print("First 5 rows:")
print("="*80)
display(df_drivers.head())

driver_type_cols = [c for c in df_drivers.columns if c not in ['country', 'threshold'] and not any(str(year) in c for year in range(2001, 2025))]
print(f"\nDriver type columns: {driver_type_cols}")

year_cols = [col for col in df_drivers.columns if any(str(year) in col for year in range(2001, 2025))]
print(f"Year-based columns: {len(year_cols)}")

print("\n" + "="*80)
print("Missing Values:")
print("="*80)
missing = df_drivers.isnull().sum()
if missing.sum() > 0:
    display(pd.DataFrame({'Missing Count': missing[missing > 0]}))
else:
    print("No missing values!")

================================================================================
COUNTRY DRIVERS - RAW DATA
================================================================================
Shape: 21,897 rows × 5 columns

Column names (5):
   1. country
   2. threshold
   3. driver
   4. year
   5. tc_loss_ha

================================================================================
First 5 rows:
================================================================================

       country  threshold            driver  year  tc_loss_ha
0  Afghanistan         30  Hard commodities  2014         0.0
1  Afghanistan         30           Logging  2001         3.0
2  Afghanistan         30           Logging  2002        64.0
3  Afghanistan         30           Logging  2003        73.0
4  Afghanistan         30           Logging  2004       143.0

Driver type columns: ['driver', 'year', 'tc_loss_ha']
Year-based columns: 0

================================================================================
Missing Values:
================================================================================
No missing values!

## Step 6: Exploring Country Carbon Data and Checking Data Quality

In [8]:
df_carbon = excel_file.parse("Country carbon data")

print("="*80)
print("COUNTRY CARBON DATA - RAW DATA")
print("="*80)
print(f"Shape: {df_carbon.shape[0]:,} rows × {df_carbon.shape[1]} columns")
print(f"\nColumn names ({len(df_carbon.columns)}):")
for i, col in enumerate(df_carbon.columns, 1):
    print(f"  {i:2d}. {col}")

print("\n" + "="*80)
print("First 5 rows:")
print("="*80)
display(df_carbon.head())

print("\n" + "="*80)
print("Missing Values:")
print("="*80)
missing = df_carbon.isnull().sum()
if missing.sum() > 0:
    display(pd.DataFrame({'Missing Count': missing[missing > 0]}))
else:
    print("✅ No missing values!")

carbon_metric_cols = [c for c in df_carbon.columns if 'carbon' in c.lower() or 'emission' in c.lower()]
print(f"\nCarbon-related columns: {carbon_metric_cols}")

================================================================================
COUNTRY CARBON DATA - RAW DATA
================================================================================
Shape: 498 rows × 32 columns

Column names (32):
   1. country
   2. umd_tree_cover_density_2000__threshold
   3. umd_tree_cover_extent_2000__ha
   4. gfw_aboveground_carbon_stocks_2000__Mg_C
   5. avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1
   6. gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1
   7. gfw_forest_carbon_gross_removals__Mg_CO2_yr-1
   8. gfw_forest_carbon_net_flux__Mg_CO2e_yr-1
   9. gfw_forest_carbon_gross_emissions_2001__Mg_CO2e
  10. gfw_forest_carbon_gross_emissions_2002__Mg_CO2e
  11. gfw_forest_carbon_gross_emissions_2003__Mg_CO2e
  12. gfw_forest_carbon_gross_emissions_2004__Mg_CO2e
  13. gfw_forest_carbon_gross_emissions_2005__Mg_CO2e
  14. gfw_forest_carbon_gross_emissions_2006__Mg_CO2e
  15. gfw_forest_carbon_gross_emissions_2007__Mg_CO2e
  16. gfw_forest_carbon_gross_emissions_2008__Mg_CO2e
  17. gfw_forest_carbon_gross_emissions_2009__Mg_CO2e
  18. gfw_forest_carbon_gross_emissions_2010__Mg_CO2e
  19. gfw_forest_carbon_gross_emissions_2011__Mg_CO2e
  20. gfw_forest_carbon_gross_emissions_2012__Mg_CO2e
  21. gfw_forest_carbon_gross_emissions_2013__Mg_CO2e
  22. gfw_forest_carbon_gross_emissions_2014__Mg_CO2e
  23. gfw_forest_carbon_gross_emissions_2015__Mg_CO2e
  24. gfw_forest_carbon_gross_emissions_2016__Mg_CO2e
  25. gfw_forest_carbon_gross_emissions_2017__Mg_CO2e
  26. gfw_forest_carbon_gross_emissions_2018__Mg_CO2e
  27. gfw_forest_carbon_gross_emissions_2019__Mg_CO2e
  28. gfw_forest_carbon_gross_emissions_2020__Mg_CO2e
  29. gfw_forest_carbon_gross_emissions_2021__Mg_CO2e
  30. gfw_forest_carbon_gross_emissions_2022__Mg_CO2e
  31. gfw_forest_carbon_gross_emissions_2023__Mg_CO2e
  32. gfw_forest_carbon_gross_emissions_2024__Mg_CO2e

================================================================================
First 5 rows:
================================================================================

,country,umd_tree_cover_density_2000__threshold,umd_tree_cover_extent_2000__ha,gfw_aboveground_carbon_stocks_2000__Mg_C,avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1,gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1,gfw_forest_carbon_gross_removals__Mg_CO2_yr-1,gfw_forest_carbon_net_flux__Mg_CO2e_yr-1,gfw_forest_carbon_gross_emissions_2001__Mg_CO2e,gfw_forest_carbon_gross_emissions_2002__Mg_CO2e,...,gfw_forest_carbon_gross_emissions_2015__Mg_CO2e,gfw_forest_carbon_gross_emissions_2016__Mg_CO2e,gfw_forest_carbon_gross_emissions_2017__Mg_CO2e,gfw_forest_carbon_gross_emissions_2018__Mg_CO2e,gfw_forest_carbon_gross_emissions_2019__Mg_CO2e,gfw_forest_carbon_gross_emissions_2020__Mg_CO2e,gfw_forest_carbon_gross_emissions_2021__Mg_CO2e,gfw_forest_carbon_gross_emissions_2022__Mg_CO2e,gfw_forest_carbon_gross_emissions_2023__Mg_CO2e,gfw_forest_carbon_gross_emissions_2024__Mg_CO2e
0,Afghanistan,30,205771,12409398,123,15339,376800,-361461,27986.0,41762.0,...,0.0,0.0,0.0,4893.0,3708.0,11409.0,6772.0,1913.0,3435.0,2636.0
1,Afghanistan,50,148417,9765465,134,12657,275855,-263199,25603.0,32691.0,...,0.0,0.0,0.0,3920.0,3343.0,10321.0,6045.0,1664.0,2530.0,2106.0
2,Afghanistan,75,75480,5571655,150,6147,151074,-144926,15780.0,15308.0,...,0.0,0.0,0.0,1962.0,1743.0,6451.0,2477.0,668.0,1857.0,1512.0
3,Albania,30,648459,40958831,238,721806,5103589,-4381783,1417747.0,348556.0,...,120041.0,334094.0,448993.0,724335.0,429556.0,427420.0,506228.0,649874.0,948758.0,308121.0
4,Albania,50,534671,37239867,263,682919,4294627,-3611709,1358272.0,338279.0,...,113553.0,304691.0,403366.0,669011.0,404887.0,391385.0,449937.0,591504.0,895138.0,275104.0

================================================================================
Missing Values:
================================================================================
✅ No missing values!

Carbon-related columns: ['gfw_aboveground_carbon_stocks_2000__Mg_C', 'avg_gfw_aboveground_carbon_stocks_2000__Mg_C_ha-1', 'gfw_forest_carbon_gross_emissions__Mg_CO2e_yr-1', 'gfw_forest_carbon_gross_removals__Mg_CO2_yr-1', 'gfw_forest_carbon_net_flux__Mg_CO2e_yr-1', 'gfw_forest_carbon_gross_emissions_2001__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2002__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2003__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2004__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2005__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2006__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2007__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2008__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2009__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2010__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2011__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2012__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2013__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2014__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2015__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2016__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2017__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2018__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2019__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2020__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2021__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2022__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2023__Mg_CO2e', 'gfw_forest_carbon_gross_emissions_2024__Mg_CO2e']